body {
    margin: 0;
}

h1 {
    color: #1E293B;
}

.header {
    height: 400px;
    border: 1px solid #1E293B;
}

.menu{
    margin: 10px 20% 0;
    border: 1px solid #1E293B;
    display: flex;
    justify-content: space-between;

}

.menu .navbar{
    border: 1px solid #1E293B;
    color: purple;
    padding-top: 10px;
}

.menu .navbar span{
    margin-right: 9px;
}